# build output
dist/

# generated types
.astro/

# dependencies
node_modules/
node-api/node_modules/
node-api/node-api-storage/

# local scratch
pic/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
node-api/.env
node-api/.env.local
node-api/.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
