@import "tailwindcss";

html {
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

button,
a,
input {
  -webkit-tap-highlight-color: transparent;
}
